@layer utilities {
  #table-container {
    select {
      border: 1px solid;
      background: #fff;
      min-width: 200px !important;
      border-radius: 5px;
    }

    input {
      background: #fff !important;
      padding: 10px;
      border-radius: 5px;
    }
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
